Node-RED/flows.json
[
    {
        "id": "cd1a2ef7.fabb6",
        "type": "tab",
        "label": "Talos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c2504bd.e5dd3c",
        "type": "tab",
        "label": "Outgress Data ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6ad70e.858df9",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "654a700f.cec0a",
        "type": "tab",
        "label": "Recipes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30569479.6ef08c",
        "type": "tab",
        "label": "Sysmon",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a044401d.48077",
        "type": "subflow",
        "name": "GetBlobUrl",
        "info": "Get blob url. Uses 'topic' value as the path of the blob under this thing's container. So if you want to retrieve the latest backup for example, you need to use the topic value: 'backup/newest/backup.tgz'\n\nATTENTION Blob url returned is double quoted!",
        "category": "",
        "in": [
            {
                "x": 380,
                "y": 100,
                "wires": [
                    {
                        "id": "c2494aca.66a2c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1110,
                "y": 100,
                "wires": [
                    {
                        "id": "fc07baf9.0cc738",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "805eaf09.21112",
        "type": "subflow",
        "name": "GetSASUrl",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 160,
                "wires": [
                    {
                        "id": "b2d85527.5cf808"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 160,
                "wires": [
                    {
                        "id": "f963c378.57c97",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d6c1f8bc.468a28",
        "type": "subflow",
        "name": "GETBlobUTF",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 100,
                "wires": [
                    {
                        "id": "67bd7b1f.5f77d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 160,
                "wires": [
                    {
                        "id": "3ddf8418.f0141c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-cloud-download"
    },
    {
        "id": "19a920c.7ca29df",
        "type": "subflow",
        "name": "PUTBlob",
        "info": "msg.content should contain the file content (binary)\nmsg.topic should contain the destination blob path\n\nSASUrl can be filled with a SAS url, if it's blank the default (in c:\\Talos\\cloud\\sasurl.txt) will be used.",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 200,
                "wires": [
                    {
                        "id": "8fa2a496.4e85c8"
                    },
                    {
                        "id": "31378027.114c9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 100,
                "wires": [
                    {
                        "id": "65aca3c7.03114c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 260,
                "wires": [
                    {
                        "id": "e3dc60df.1cb76",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "SASUrl",
                "type": "str",
                "value": ""
            }
        ],
        "icon": "font-awesome/fa-cloud-upload",
        "status": {
            "x": 220,
            "y": 380,
            "wires": []
        }
    },
    {
        "id": "87f46a23.b6d4b8",
        "type": "subflow",
        "name": "tgz files",
        "info": "Set target to the folder containing the files that should be tgz'd, set topic to the target file.",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9f6d0d9f.0d14b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 100,
                "wires": [
                    {
                        "id": "ec8e41c7.5c08c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-compress"
    },
    {
        "id": "37836caa.f756a4",
        "type": "subflow",
        "name": "GETBlobBinary",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 160,
                "wires": [
                    {
                        "id": "61116345.44036c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 830,
                "y": 160,
                "wires": [
                    {
                        "id": "ec6c30f3.8f8e8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "SASUrl",
                "type": "str",
                "value": ""
            }
        ],
        "icon": "font-awesome/fa-cloud-download"
    },
    {
        "id": "8eb33341.4ee15",
        "type": "subflow",
        "name": "gz file",
        "info": "Gzip a single file, filename is in msg.source.\n\nOutput is the GZipped buffer. A file named msg.source+'.gz' is also created.",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "f280cb9f.c5c048"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 80,
                "wires": [
                    {
                        "id": "291b36aa.b24cea",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-file-archive-o"
    },
    {
        "id": "e89dd977.ba0f38",
        "type": "subflow",
        "name": "7z files",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "bc7c3cf8.031c1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 200,
                "wires": [
                    {
                        "id": "32c37667.eeed1a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-compress"
    },
    {
        "id": "bdea9245.a15c2",
        "type": "subflow",
        "name": "Un7z files",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 180,
                "wires": [
                    {
                        "id": "98b67fb1.7b9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "ee68ef96.79b8e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Target",
                "type": "str",
                "value": ""
            },
            {
                "name": "Source",
                "type": "str",
                "value": ""
            }
        ],
        "icon": "font-awesome/fa-external-link"
    },
    {
        "id": "ed5228e7.1c38d8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "20fc9ed9.3e2ef2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 200,
                "wires": [
                    {
                        "id": "769dab76.f05974",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f44ddd25.f9a83",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensorlog",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "2ae1997d.5afa66",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "talos",
        "name": "Talos"
    },
    {
        "id": "e46dac0a.ff646",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "timeseries",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "e726ada1.e0dfe",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sysmon",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "41bf0d23.ef7894",
        "type": "influxdb in",
        "z": "4c2504bd.e5dd3c",
        "influxdb": "f44ddd25.f9a83",
        "name": "Select all unarchived items",
        "query": "SELECT * FROM \"sensorlog\".\"twoweeks\".\"dredgeview\" WHERE archived=FALSE",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "f67a4b1b.1e2448",
                "973146ba.27b5d8",
                "61bc01b5.cc2ae"
            ]
        ]
    },
    {
        "id": "f67a4b1b.1e2448",
        "type": "json",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "d5e12e26.1b5b1",
                "4b12eabe.e28374"
            ]
        ]
    },
    {
        "id": "ed586f61.1cd58",
        "type": "inject",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "41bf0d23.ef7894"
            ]
        ]
    },
    {
        "id": "973146ba.27b5d8",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "TagAsArchived",
        "func": "var payload = msg.payload;\n\nif(payload.length>0){\n    msg.payload=\n        payload.map(function(item){\n            return [{\n                time:new Date(item.time).getTime(),\n                archived:true\n            }, {\n                stepcount: item.stepcount,\n                cyclecount: item.cyclecount,\n                day: item.day\n            }];\n        });\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "6898e13e.1be27",
                "e5f36aae.0354b8"
            ]
        ]
    },
    {
        "id": "e5f36aae.0354b8",
        "type": "influxdb out",
        "z": "4c2504bd.e5dd3c",
        "influxdb": "f44ddd25.f9a83",
        "name": "",
        "measurement": "dredgeview",
        "precision": "ms",
        "retentionPolicy": "",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "6898e13e.1be27",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "d5e12e26.1b5b1",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "ffb1b51c.c42108",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "61bc01b5.cc2ae",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b12eabe.e28374",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "msg.filename='c:/Talos/out/'+new Date().getTime().toString()+'.sensorlog.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 420,
        "wires": [
            [
                "35b51e1f.26e082"
            ]
        ]
    },
    {
        "id": "35b51e1f.26e082",
        "type": "file",
        "z": "4c2504bd.e5dd3c",
        "name": "Write json file",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "ffb1b51c.c42108"
            ]
        ]
    },
    {
        "id": "bd73accf.a3b56",
        "type": "exec",
        "z": "4c2504bd.e5dd3c",
        "command": "gzip /data/out/*.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Compress",
        "x": 1230,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2e299b1.8daae64",
        "type": "comment",
        "z": "4c2504bd.e5dd3c",
        "name": "Extract all unarchived items from influxdb, write out json & compress to /data/out",
        "info": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2d85527.5cf808",
        "type": "file in",
        "z": "805eaf09.21112",
        "name": "ReadSASUrl",
        "filename": "c:/Talos/cloud/SASUrl.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "f963c378.57c97"
            ]
        ]
    },
    {
        "id": "f963c378.57c97",
        "type": "function",
        "z": "805eaf09.21112",
        "name": "CreateBlobUrl",
        "func": "var parts = msg.payload.split('?');\nmsg.payload=parts[0] + '/' + msg.topic + '?'+parts[1];\nmsg.url=msg.payload;\nmsg.headers={\"x-ms-blob-type\":\"BlockBlob\"};\ndelete msg.filename;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "67bd7b1f.5f77d4",
        "type": "subflow:805eaf09.21112",
        "z": "d6c1f8bc.468a28",
        "name": "",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "3ddf8418.f0141c"
            ]
        ]
    },
    {
        "id": "3ddf8418.f0141c",
        "type": "http request",
        "z": "d6c1f8bc.468a28",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8fa2a496.4e85c8",
        "type": "subflow:805eaf09.21112",
        "z": "19a920c.7ca29df",
        "name": "",
        "env": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "5b608972.bdbb18"
            ]
        ]
    },
    {
        "id": "65aca3c7.03114c",
        "type": "http request",
        "z": "19a920c.7ca29df",
        "name": "",
        "method": "PUT",
        "ret": "bin",
        "url": "",
        "tls": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5b608972.bdbb18",
        "type": "function",
        "z": "19a920c.7ca29df",
        "name": "",
        "func": "msg.headers={\n    \"x-ms-date\": new Date().toUTCString(),\n    \"x-ms-blob-type\": \"BlockBlob\"\n}\nvar postfix='';\nif(msg.postfix!=null)\n    postfix=msg.postfix;\n    \nif(env.get(\"SASUrl\")==null || env.get(\"SASUrl\")=='')\n    msg.url=msg.payload;\nelse\n    msg.url=env.get(\"SASUrl\");\n\n//Insert postfix.\nmsg.url=msg.url.split('?')[0]+postfix+'?'+msg.url.split('?')[1];\n\nmsg.payload=msg.content; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "65aca3c7.03114c"
            ]
        ]
    },
    {
        "id": "c2494aca.66a2c8",
        "type": "subflow:805eaf09.21112",
        "z": "a044401d.48077",
        "name": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "fc07baf9.0cc738"
            ]
        ]
    },
    {
        "id": "fc07baf9.0cc738",
        "type": "function",
        "z": "a044401d.48077",
        "name": "",
        "func": "msg.payload = '\"' + msg.payload + '\"';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "97e8f75a.94eb58",
        "type": "mongodb in",
        "z": "4c2504bd.e5dd3c",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "log",
        "operation": "find",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "dd77d4f8.f66df8",
                "c86683f7.ad377"
            ]
        ]
    },
    {
        "id": "a285c549.b25fc8",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "unarchived filter",
        "func": "msg.payload={archived:false}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "97e8f75a.94eb58"
            ]
        ]
    },
    {
        "id": "c86683f7.ad377",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 760,
        "wires": []
    },
    {
        "id": "ab64a88e.f74598",
        "type": "inject",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "90",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "a285c549.b25fc8"
            ]
        ]
    },
    {
        "id": "30aefd0.e523304",
        "type": "mongodb out",
        "z": "4c2504bd.e5dd3c",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "log",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1080,
        "y": 860,
        "wires": []
    },
    {
        "id": "dd77d4f8.f66df8",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "msg.payload.forEach(function(item){\n    //send update message to first output    \n    item.archived=true;\n    node.send([{payload:item},null]);\n});\nmsg.filename='c:/Talos/out/'+new Date().getTime().toString()+'.logentries.json';\n\nreturn [null,msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "8d0c537b.1141c"
            ],
            [
                "9d05d6d1.653158"
            ]
        ]
    },
    {
        "id": "9d05d6d1.653158",
        "type": "json",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "3d97a679.25a1aa",
                "517b2d5a.5b42e4"
            ]
        ]
    },
    {
        "id": "3d97a679.25a1aa",
        "type": "file",
        "z": "4c2504bd.e5dd3c",
        "name": "Write json file",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1020,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ad74319d.546fd",
        "type": "exec",
        "z": "4c2504bd.e5dd3c",
        "command": "gzip /data/out/*.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Compress",
        "x": 1290,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8d0c537b.1141c",
        "type": "objectid",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "selectedProperty": "_id",
        "x": 830,
        "y": 820,
        "wires": [
            [
                "30aefd0.e523304",
                "9d990c1.411dff"
            ]
        ]
    },
    {
        "id": "9d990c1.411dff",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 800,
        "wires": []
    },
    {
        "id": "517b2d5a.5b42e4",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1020,
        "y": 980,
        "wires": []
    },
    {
        "id": "ba36a9cd.4360a8",
        "type": "http request",
        "z": "654a700f.cec0a",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "68d7f702.4c8808"
            ]
        ]
    },
    {
        "id": "7567167a.731338",
        "type": "comment",
        "z": "654a700f.cec0a",
        "name": "PUT a blob to an Azure container via SAS URL",
        "info": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "86c78f08.18444",
        "type": "function",
        "z": "654a700f.cec0a",
        "name": "",
        "func": "msg.headers={\n    \"x-ms-date\": new Date().toUTCString(),\n    \"x-ms-blob-type\": \"BlockBlob\"\n}\nmsg.url=\"[enter SASUrl here]\";\nmsg.payload=`\n (o,o)\n<  .  >\n--\"-\"---\n`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ba36a9cd.4360a8"
            ]
        ]
    },
    {
        "id": "68d7f702.4c8808",
        "type": "debug",
        "z": "654a700f.cec0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "da44d3bb.e3027",
        "type": "inject",
        "z": "654a700f.cec0a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "86c78f08.18444"
            ]
        ]
    },
    {
        "id": "1e09b6d3.40edd9",
        "type": "comment",
        "z": "654a700f.cec0a",
        "name": "Serve up all files from a directory over http",
        "info": "",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "f4086dbd.bad9a",
        "type": "http in",
        "z": "654a700f.cec0a",
        "name": "",
        "url": "/www/:file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "47a6efe8.8337b"
            ]
        ]
    },
    {
        "id": "fb98e9c0.e82dd8",
        "type": "function",
        "z": "654a700f.cec0a",
        "name": "retrieve requested file",
        "func": "msg.filename='/data/www/'+msg.req.params.file;\nvar contenttype=\"text/html\";\nvar fileparts=msg.req.params.file.split('.');\n\nswitch(fileparts[fileparts.length-1]){\n    case \"css\":\n        contenttype=\"text/css\";\n        break;\n    case \"js\":\n        contenttype=\"text/javascript\";\n        break;\n    case \"png\":\n        contenttype=\"image/png\";\n        break;\n    case \"svg\":\n        contenttype=\"image/svg+xml\";\n        break;\n    \n}\nmsg.headers={\n    \"Content-Type\":contenttype\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "1c84ae27.0bd6a2"
            ]
        ]
    },
    {
        "id": "1c84ae27.0bd6a2",
        "type": "file in",
        "z": "654a700f.cec0a",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "a8c774a0.0dba68"
            ]
        ]
    },
    {
        "id": "a8c774a0.0dba68",
        "type": "http response",
        "z": "654a700f.cec0a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "47a6efe8.8337b",
        "type": "node-red-contrib-httpauth",
        "z": "654a700f.cec0a",
        "name": "",
        "file": "",
        "cred": "",
        "authType": "Basic",
        "realm": "BHDReporting",
        "username": "crew",
        "password": "reporting",
        "hashed": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "fb98e9c0.e82dd8"
            ]
        ]
    },
    {
        "id": "2b36b3e5.65372c",
        "type": "inject",
        "z": "654a700f.cec0a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "974e8c53.abb5b",
        "type": "comment",
        "z": "654a700f.cec0a",
        "name": "Twin loop - GET commands, PUT status",
        "info": "",
        "x": 410,
        "y": 540,
        "wires": []
    },
    {
        "id": "483f78ba.634928",
        "type": "function",
        "z": "654a700f.cec0a",
        "name": "",
        "func": "msg.url=\"http://localhost:1880/flows\"\nmsg.headers={\n    \"Content-type\": \"application/json\",\n    \"Node-RED-Deployment-Type\": \"reload\"\n}\nmsg.payload=\"{}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "275dcdb8.821462"
            ]
        ]
    },
    {
        "id": "275dcdb8.821462",
        "type": "http request",
        "z": "654a700f.cec0a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 570,
        "y": 900,
        "wires": [
            [
                "606cb151.a9bf9"
            ]
        ]
    },
    {
        "id": "684aeeee.88ec5",
        "type": "inject",
        "z": "654a700f.cec0a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 900,
        "wires": [
            [
                "483f78ba.634928"
            ]
        ]
    },
    {
        "id": "606cb151.a9bf9",
        "type": "debug",
        "z": "654a700f.cec0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 740,
        "y": 900,
        "wires": []
    },
    {
        "id": "dbd147d1.56a4f8",
        "type": "comment",
        "z": "654a700f.cec0a",
        "name": "Restart node red (needs OAuth flow)",
        "info": "https://nodered.org/docs/api/admin/oauth",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "c8301c7.9bfdfe",
        "type": "tcp in",
        "z": "654a700f.cec0a",
        "name": "",
        "server": "server",
        "host": "",
        "port": "4001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 170,
        "y": 1120,
        "wires": [
            [
                "239ba62a.e93fba"
            ]
        ]
    },
    {
        "id": "239ba62a.e93fba",
        "type": "debug",
        "z": "654a700f.cec0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 1120,
        "wires": []
    },
    {
        "id": "798136e6.b9c518",
        "type": "http in",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "url": "/exportlog",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "6cf42b4f.3d9964"
            ]
        ]
    },
    {
        "id": "6cf42b4f.3d9964",
        "type": "mongodb in",
        "z": "4c2504bd.e5dd3c",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "log",
        "operation": "find",
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "c8df1024.ae36e"
            ]
        ]
    },
    {
        "id": "c8df1024.ae36e",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "msg.filename='c:/Talos/out/'+new Date().getTime().toString()+'.logentries.json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1020,
        "wires": [
            [
                "df936667.511fe8"
            ]
        ]
    },
    {
        "id": "df936667.511fe8",
        "type": "json",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 1080,
        "wires": [
            [
                "adf0f107.96baf",
                "283dc35b.fcde7c"
            ]
        ]
    },
    {
        "id": "adf0f107.96baf",
        "type": "file",
        "z": "4c2504bd.e5dd3c",
        "name": "Write json file",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 640,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "2a8422b2.a4956e",
        "type": "exec",
        "z": "4c2504bd.e5dd3c",
        "command": "gzip /data/out/*.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Compress",
        "x": 930,
        "y": 1120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "283dc35b.fcde7c",
        "type": "http response",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e4217df4.a9291",
        "type": "http request",
        "z": "b6ad70e.858df9",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "576548eb.d38098"
            ]
        ]
    },
    {
        "id": "e4a4d0dc.3bd5e",
        "type": "comment",
        "z": "b6ad70e.858df9",
        "name": "PUT a blob to an Azure container via SAS URL",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "c654fb8d.dc58b8",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "",
        "func": "msg.headers={\n    \"x-ms-date\": new Date().toUTCString(),\n    \"x-ms-blob-type\": \"BlockBlob\"\n}\nmsg.url=\"[enter SASUrl here]\";\nmsg.payload=`\n (o,o)\n<  .  >\n--\"-\"---\n`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "e4217df4.a9291"
            ]
        ]
    },
    {
        "id": "576548eb.d38098",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "8920cc30.994ee",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "c654fb8d.dc58b8"
            ]
        ]
    },
    {
        "id": "7e39b4ef.03bf1c",
        "type": "subflow:19a920c.7ca29df",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "c18c73d1.056d1"
            ],
            []
        ]
    },
    {
        "id": "218baee1.acf062",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "99fb2648.aaaa98"
            ]
        ]
    },
    {
        "id": "99fb2648.aaaa98",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "",
        "func": "msg.topic='zut.txt';\nmsg.content='blerp';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "7e39b4ef.03bf1c"
            ]
        ]
    },
    {
        "id": "c18c73d1.056d1",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "2efe480e.540558",
        "type": "subflow:19a920c.7ca29df",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "b740cddc.93523"
            ],
            []
        ]
    },
    {
        "id": "a1983a3c.07fcc8",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "eef3e595.c09798"
            ]
        ]
    },
    {
        "id": "f8fd92ef.3e50f",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "",
        "func": "msg.topic='gezustersknuf.jpg';\nmsg.content=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "2efe480e.540558"
            ]
        ]
    },
    {
        "id": "b740cddc.93523",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "eef3e595.c09798",
        "type": "file in",
        "z": "b6ad70e.858df9",
        "name": "",
        "filename": "c:/Talos/node-red/gezustersknuf.jpg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "f8fd92ef.3e50f"
            ]
        ]
    },
    {
        "id": "1c59afa2.74981",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "c:\\Talos\\cloud",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "9fdf2824.34cc38"
            ]
        ]
    },
    {
        "id": "78d5cbb2.cb4c34",
        "type": "subflow:19a920c.7ca29df",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 980,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fd76ea6.8084118",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "",
        "func": "msg.content=msg.payload;\nmsg.topic=\"cloud.tgz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 720,
        "wires": [
            [
                "78d5cbb2.cb4c34"
            ]
        ]
    },
    {
        "id": "9f6d0d9f.0d14b",
        "type": "function",
        "z": "87f46a23.b6d4b8",
        "name": "",
        "func": "if(msg.target==null)\n    msg.target=new Date().getTime();\nmsg.target='c:/Talos/temp/'+msg.target+'.tgz';\nvar cmd='\"c:\\\\program files\\\\7-zip\\\\7z.exe\" a -ttar -so archive.tar '+ msg.source +' | \"c:\\\\program files\\\\7-zip\\\\7z.exe\" a -si ' + msg.target;\nmsg.payload= cmd; //'c:/Talos/temp/'+msg.target+'.tgz';\nmsg.filename=msg.target;\nmsg.topic=msg.topic+\".tgz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "79a84314.3d278c"
            ]
        ]
    },
    {
        "id": "79a84314.3d278c",
        "type": "exec",
        "z": "87f46a23.b6d4b8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "ec8e41c7.5c08c"
            ],
            [],
            []
        ]
    },
    {
        "id": "ec8e41c7.5c08c",
        "type": "file in",
        "z": "87f46a23.b6d4b8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 570,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b0e22017.ca842",
        "type": "subflow:87f46a23.b6d4b8",
        "z": "b6ad70e.858df9",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "fd76ea6.8084118"
            ]
        ]
    },
    {
        "id": "9fdf2824.34cc38",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "",
        "func": "msg.source='c:/Talos/cloud';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "b0e22017.ca842"
            ]
        ]
    },
    {
        "id": "82dd3cd4.f08ed",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "zut.txt",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "4928fa69.aa23d4",
                "5e103b53.5c8684"
            ]
        ]
    },
    {
        "id": "4928fa69.aa23d4",
        "type": "subflow:d6c1f8bc.468a28",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "aaafce20.58121"
            ]
        ]
    },
    {
        "id": "aaafce20.58121",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 840,
        "wires": []
    },
    {
        "id": "61116345.44036c",
        "type": "subflow:805eaf09.21112",
        "z": "37836caa.f756a4",
        "name": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "43c65615.b74178"
            ]
        ]
    },
    {
        "id": "ec6c30f3.8f8e8",
        "type": "http request",
        "z": "37836caa.f756a4",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5e103b53.5c8684",
        "type": "subflow:37836caa.f756a4",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 360,
        "y": 920,
        "wires": [
            [
                "284c760c.902d7a"
            ]
        ]
    },
    {
        "id": "284c760c.902d7a",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 940,
        "wires": []
    },
    {
        "id": "25197372.bc1b7c",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "4ce12673.d94078"
            ]
        ]
    },
    {
        "id": "a53dbdcd.1b351",
        "type": "subflow:87f46a23.b6d4b8",
        "z": "b6ad70e.858df9",
        "name": "",
        "env": [],
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "8fd55b11.ba16f8"
            ]
        ]
    },
    {
        "id": "9962f.ed6d79d1",
        "type": "subflow:19a920c.7ca29df",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 920,
        "y": 1100,
        "wires": [
            [
                "7f34cb3e.def604"
            ],
            []
        ]
    },
    {
        "id": "8fd55b11.ba16f8",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "Set destination (topic)",
        "func": "msg.content=msg.payload;\nvar ts=new Date().getTime();\nmsg.topic=\"node-red_\"+ts+\".tgz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "9962f.ed6d79d1"
            ]
        ]
    },
    {
        "id": "4ce12673.d94078",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "Set source",
        "func": "msg.source='c:/Talos/node-red';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "a53dbdcd.1b351"
            ]
        ]
    },
    {
        "id": "f280cb9f.c5c048",
        "type": "function",
        "z": "8eb33341.4ee15",
        "name": "",
        "func": "msg.payload = '\"c:\\\\program files\\\\7-Zip\\\\7z.exe\" a -tgzip '+msg.source+'.gz '+msg.source;\nmsg.filename=msg.source+'.gz';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "78ad1243.37f03c"
            ]
        ]
    },
    {
        "id": "78ad1243.37f03c",
        "type": "exec",
        "z": "8eb33341.4ee15",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "291b36aa.b24cea"
            ],
            [],
            []
        ]
    },
    {
        "id": "291b36aa.b24cea",
        "type": "file in",
        "z": "8eb33341.4ee15",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "650aaf0f.f20ec",
        "type": "inject",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 1380,
        "wires": [
            [
                "f55e284a.b2d5f8"
            ]
        ]
    },
    {
        "id": "f55e284a.b2d5f8",
        "type": "exec",
        "z": "4c2504bd.e5dd3c",
        "command": "dir /b c:\\Talos\\out",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "be9f5757.c81ba8"
            ],
            [],
            []
        ]
    },
    {
        "id": "be9f5757.c81ba8",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "if(msg.payload.trim().split('\\n').length>0){\n    msg.payload=msg.payload.split('\\n')[0].trim();\n    msg.file=msg.payload;\n    msg.source='c:/Talos/out/'+msg.payload;\n    if(msg.payload.length>0)\n        return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1380,
        "wires": [
            [
                "377fd845.94f248",
                "95401993.bfc318"
            ]
        ]
    },
    {
        "id": "377fd845.94f248",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 1540,
        "wires": []
    },
    {
        "id": "95401993.bfc318",
        "type": "subflow:8eb33341.4ee15",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "x": 720,
        "y": 1620,
        "wires": [
            [
                "856421c0.aa8bb"
            ]
        ]
    },
    {
        "id": "d692f88e.7700c8",
        "type": "subflow:19a920c.7ca29df",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "x": 1020,
        "y": 1640,
        "wires": [
            [
                "c239a741.1138e8",
                "c12fb86e.4ebe98"
            ],
            [
                "65693496.a8e96c"
            ]
        ]
    },
    {
        "id": "856421c0.aa8bb",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "msg.content=msg.payload;\nmsg.topic='talos/'+msg.file+'.gz';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1660,
        "wires": [
            [
                "d692f88e.7700c8"
            ]
        ]
    },
    {
        "id": "e3dc60df.1cb76",
        "type": "catch",
        "z": "19a920c.7ca29df",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4633e925.c44238"
            ]
        ]
    },
    {
        "id": "7f34cb3e.def604",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1120,
        "y": 1080,
        "wires": []
    },
    {
        "id": "29571159.49468e",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1120,
        "y": 1140,
        "wires": []
    },
    {
        "id": "65693496.a8e96c",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1190,
        "y": 1660,
        "wires": []
    },
    {
        "id": "c239a741.1138e8",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1190,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c12fb86e.4ebe98",
        "type": "function",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "func": "msg.payload=msg.statusCode;\nif(msg.statusCode==201){\n    msg.payload='del /Q c:\\\\Talos\\\\out\\\\'+msg.file+'*';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1440,
        "wires": [
            [
                "d4282fdb.9d99f",
                "6258fe3f.cc83f"
            ]
        ]
    },
    {
        "id": "d4282fdb.9d99f",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1280,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6258fe3f.cc83f",
        "type": "exec",
        "z": "4c2504bd.e5dd3c",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1190,
        "y": 1400,
        "wires": [
            [
                "1d119eae.521171"
            ],
            [
                "1d119eae.521171"
            ],
            []
        ]
    },
    {
        "id": "1d119eae.521171",
        "type": "debug",
        "z": "4c2504bd.e5dd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1410,
        "y": 1380,
        "wires": []
    },
    {
        "id": "23acfa58.415ee6",
        "type": "comment",
        "z": "4c2504bd.e5dd3c",
        "name": "This flow pumps out outgoing files every 2 minutes, if succeeded they're deleted.",
        "info": "",
        "x": 800,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6a3031ff.7164f",
        "type": "exec",
        "z": "b6ad70e.858df9",
        "command": "start c:\\Talos\\node-red\\restartservice.bat",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 1480,
        "wires": [
            [
                "cf2188bd.45a078"
            ],
            [
                "cf2188bd.45a078"
            ],
            []
        ]
    },
    {
        "id": "d1442b2c.05f158",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 1500,
        "wires": [
            [
                "6a3031ff.7164f"
            ]
        ]
    },
    {
        "id": "cf2188bd.45a078",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4633e925.c44238",
        "type": "debug",
        "z": "19a920c.7ca29df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "31378027.114c9",
        "type": "debug",
        "z": "19a920c.7ca29df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "43c65615.b74178",
        "type": "function",
        "z": "37836caa.f756a4",
        "name": "",
        "func": "if(env.get(\"SASUrl\")==null || env.get(\"SASUrl\")=='')\n    msg.url=msg.payload;\nelse\n    msg.url=env.get(\"SASUrl\");\n    \nmsg.headers={\"x-ms-blob-type\":\"BlockBlob\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "ec6c30f3.8f8e8"
            ]
        ]
    },
    {
        "id": "bc7c3cf8.031c1",
        "type": "function",
        "z": "e89dd977.ba0f38",
        "name": "",
        "func": "if(msg.target==null)\n    msg.target=new Date().getTime();\nmsg.target='c:/Talos/temp/'+msg.target+'.7z';\nvar cmd='\"c:\\\\program files\\\\7-Zip\\\\7z.exe\" a '+msg.target+' ' +msg.source;\nmsg.payload= cmd; //'c:/Talos/temp/'+msg.target+'.tgz';\nmsg.filename=msg.target;\nmsg.topic=msg.topic+\".7z\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "bd2f925d.1e2b1"
            ]
        ]
    },
    {
        "id": "bd2f925d.1e2b1",
        "type": "exec",
        "z": "e89dd977.ba0f38",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "32c37667.eeed1a"
            ],
            [],
            []
        ]
    },
    {
        "id": "32c37667.eeed1a",
        "type": "file in",
        "z": "e89dd977.ba0f38",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "daae1a5d.3f5078",
        "type": "inject",
        "z": "b6ad70e.858df9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "8b22aa82.8ac388"
            ]
        ]
    },
    {
        "id": "442519b5.9b1598",
        "type": "subflow:19a920c.7ca29df",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "4a1b0c9f.1ee854"
            ],
            []
        ]
    },
    {
        "id": "8e0d251e.0bcd88",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "Set destination (topic)",
        "func": "msg.content=msg.payload;\nvar ts=new Date().getTime();\nmsg.topic=\"node-red_\"+ts+\".7z\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1260,
        "wires": [
            [
                "442519b5.9b1598"
            ]
        ]
    },
    {
        "id": "8b22aa82.8ac388",
        "type": "function",
        "z": "b6ad70e.858df9",
        "name": "Set target",
        "func": "msg.target='c:/Talos/temp';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1260,
        "wires": [
            [
                "85878f33.4d723"
            ]
        ]
    },
    {
        "id": "4a1b0c9f.1ee854",
        "type": "debug",
        "z": "b6ad70e.858df9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1120,
        "y": 1240,
        "wires": []
    },
    {
        "id": "85878f33.4d723",
        "type": "subflow:e89dd977.ba0f38",
        "z": "b6ad70e.858df9",
        "name": "",
        "x": 510,
        "y": 1260,
        "wires": [
            [
                "8e0d251e.0bcd88"
            ]
        ]
    },
    {
        "id": "98b67fb1.7b9",
        "type": "function",
        "z": "bdea9245.a15c2",
        "name": "",
        "func": "var target = env.get(\"Target\");\nvar source = env.get(\"Source\");\nif(env.get(\"Target\")==null || env.get(\"Target\")=='')\n    target = msg.Target;\n\nif(env.get(\"Source\")==null || env.get(\"Source\")=='')\n    source = msg.Source;\n\n\nvar cmd='\"c:\\\\program files\\\\7-Zip\\\\7z.exe\" x -o' + target + ' -y ' + source;\nmsg.payload= cmd; //'c:/Talos/temp/'+msg.target+'.tgz';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "ee68ef96.79b8e",
                "fb583aed.000fc8"
            ]
        ]
    },
    {
        "id": "ee68ef96.79b8e",
        "type": "exec",
        "z": "bdea9245.a15c2",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fb583aed.000fc8",
        "type": "debug",
        "z": "bdea9245.a15c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "20fc9ed9.3e2ef2",
        "type": "function",
        "z": "ed5228e7.1c38d8",
        "name": "",
        "func": "var target = env.get(\"Target\");\nvar source = env.get(\"Source\");\nif(env.get(\"Target\")==null || env.get(\"Target\")=='')\n    target = msg.Target;\n\nif(env.get(\"Source\")==null || env.get(\"Source\")=='')\n    source = msg.Source;\n\n\nvar cmd='\"c:\\\\program files\\\\7-Zip\\\\7z.exe\" x -o' + target + ' -y ' + source;\nmsg.payload= cmd; //'c:/Talos/temp/'+msg.target+'.tgz';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "769dab76.f05974",
                "ee612570.1216b8"
            ]
        ]
    },
    {
        "id": "769dab76.f05974",
        "type": "exec",
        "z": "ed5228e7.1c38d8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ee612570.1216b8",
        "type": "debug",
        "z": "ed5228e7.1c38d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "9af8266b.8a5b18",
        "type": "tcp in",
        "z": "654a700f.cec0a",
        "name": "",
        "server": "server",
        "host": "",
        "port": "8040",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\r\\n",
        "topic": "",
        "base64": false,
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "9ae34246.0b291"
            ]
        ]
    },
    {
        "id": "22c83e13.839bd2",
        "type": "tcp out",
        "z": "654a700f.cec0a",
        "host": "127.0.0.1",
        "port": "8039",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 500,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9ae34246.0b291",
        "type": "debug",
        "z": "654a700f.cec0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4b1d7655.5c9928",
        "type": "inject",
        "z": "654a700f.cec0a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 1400,
        "wires": [
            [
                "d4ea85b0.88a298"
            ]
        ]
    },
    {
        "id": "d4ea85b0.88a298",
        "type": "function",
        "z": "654a700f.cec0a",
        "name": "",
        "func": "msg.payload=\"d:/gezustersknuf.jpg\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1420,
        "wires": [
            [
                "22c83e13.839bd2"
            ]
        ]
    },
    {
        "id": "d8c181b.553798",
        "type": "tcp request",
        "z": "654a700f.cec0a",
        "server": "127.0.0.1",
        "port": "8041",
        "out": "char",
        "splitc": "|",
        "name": "",
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "67f85779.2b5438"
            ]
        ]
    },
    {
        "id": "67f85779.2b5438",
        "type": "debug",
        "z": "654a700f.cec0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1560,
        "wires": []
    },
    {
        "id": "50e80dc3.0a24f4",
        "type": "inject",
        "z": "654a700f.cec0a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1580,
        "wires": [
            [
                "d8c181b.553798"
            ]
        ]
    },
    {
        "id": "a63c7dca.ae1df",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/:resource",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "a1e49495.a51a98"
            ]
        ]
    },
    {
        "id": "1c7c136.8eab1ed",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/:resource",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "de68e467.9caf78"
            ]
        ]
    },
    {
        "id": "548827ce.3808a8",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "3ed35bcd.1017c4",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "6bdd532e.18e4bc",
        "type": "mongodb out",
        "z": "cd1a2ef7.fabb6",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "de68e467.9caf78",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "set collection to resource",
        "func": "msg.collection=msg.req.params.resource;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "3ed35bcd.1017c4",
                "2ee2d09d.ef95b",
                "494e1f83.b799d"
            ]
        ]
    },
    {
        "id": "61903927.bbda58",
        "type": "mongodb in",
        "z": "cd1a2ef7.fabb6",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "548827ce.3808a8",
                "4c292fc1.3fd15"
            ]
        ]
    },
    {
        "id": "a1e49495.a51a98",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "set collection to resource",
        "func": "msg.collection=msg.req.params.resource;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "61903927.bbda58"
            ]
        ]
    },
    {
        "id": "4c292fc1.3fd15",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ee2d09d.ef95b",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "494e1f83.b799d",
        "type": "objectid",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "selectedProperty": "_id",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "6bdd532e.18e4bc"
            ]
        ]
    },
    {
        "id": "46159178.04bae",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/:resource",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "5da2394d.e340e8"
            ]
        ]
    },
    {
        "id": "5da2394d.e340e8",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "set collection to resource",
        "func": "msg.collection=msg.req.params.resource;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "22a77a73.072526",
                "906e7020.073c",
                "a6b1015d.3b20d"
            ]
        ]
    },
    {
        "id": "a6b1015d.3b20d",
        "type": "objectid",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "selectedProperty": "_id",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "bd02908c.66a7e"
            ]
        ]
    },
    {
        "id": "bd02908c.66a7e",
        "type": "mongodb out",
        "z": "cd1a2ef7.fabb6",
        "mongodb": "2ae1997d.5afa66",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "22a77a73.072526",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "906e7020.073c",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "2b9b0ab.823bdf6",
        "type": "comment",
        "z": "cd1a2ef7.fabb6",
        "name": "Generic CRUD using local mongodb",
        "info": "",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "fac5a40d.297118",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/timeseries/:resource",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "42f492c9.30b09c"
            ]
        ]
    },
    {
        "id": "51c2af18.04bbc",
        "type": "influxdb out",
        "z": "cd1a2ef7.fabb6",
        "influxdb": "e46dac0a.ff646",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 570,
        "y": 880,
        "wires": []
    },
    {
        "id": "42f492c9.30b09c",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "set measurement to resource",
        "func": "msg.measurement=msg.req.params.resource;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 820,
        "wires": [
            [
                "51c2af18.04bbc",
                "3acd35f8.b49d6a",
                "a2dd5965.5c7978"
            ]
        ]
    },
    {
        "id": "a2dd5965.5c7978",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "3acd35f8.b49d6a",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 800,
        "wires": []
    },
    {
        "id": "83555e42.ebb0e",
        "type": "influxdb in",
        "z": "cd1a2ef7.fabb6",
        "influxdb": "e46dac0a.ff646",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "d7f8d007.ae858",
                "cbc1a9a3.7c9b98"
            ]
        ]
    },
    {
        "id": "353f7a21.e21606",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/timeseries/:resource/:period",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 960,
        "wires": [
            [
                "b72a9900.876c68"
            ]
        ]
    },
    {
        "id": "b72a9900.876c68",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "set query to msg.req.query",
        "func": "msg.query=msg.req.query;\nmsg.query='SELECT * FROM \"timeseries\".\"twoweeks\".\"' + msg.req.params.resource + '\" WHERE time > now() - ' + msg.req.params.period + '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "83555e42.ebb0e"
            ]
        ]
    },
    {
        "id": "d7f8d007.ae858",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cbc1a9a3.7c9b98",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 980,
        "wires": []
    },
    {
        "id": "948c5498.91ccb8",
        "type": "influxdb in",
        "z": "cd1a2ef7.fabb6",
        "influxdb": "e46dac0a.ff646",
        "name": "Create timeseries",
        "query": "CREATE DATABASE \"timeseries\" WITH DURATION 14d REPLICATION 1 SHARD DURATION 1h NAME \"twoweeks\"",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "51f21f06.9b2ff",
                "cface0e7.e03f4"
            ]
        ]
    },
    {
        "id": "4788b305.0b476c",
        "type": "inject",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 1200,
        "wires": [
            [
                "948c5498.91ccb8"
            ]
        ]
    },
    {
        "id": "51f21f06.9b2ff",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ed8957f7.fa5858",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "createtimeseries",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 1260,
        "wires": [
            [
                "948c5498.91ccb8"
            ]
        ]
    },
    {
        "id": "cface0e7.e03f4",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f511b8e2.1145b8",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/talos/timeseries/measurements",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "fc80fd6b.e4aef"
            ]
        ]
    },
    {
        "id": "304d373c.680d98",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 1360,
        "wires": []
    },
    {
        "id": "fc80fd6b.e4aef",
        "type": "influxdb in",
        "z": "cd1a2ef7.fabb6",
        "influxdb": "e46dac0a.ff646",
        "name": "",
        "query": "SHOW measurements on \"timeseries\"",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 550,
        "y": 1380,
        "wires": [
            [
                "304d373c.680d98"
            ]
        ]
    },
    {
        "id": "116425d1.2ca75a",
        "type": "exec",
        "z": "cd1a2ef7.fabb6",
        "command": "dir /s c:\\Talos\\masterdata",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1650,
        "y": 180,
        "wires": [
            [
                "e5abed49.308ce",
                "c4cc64ac.e74598"
            ],
            [
                "e5abed49.308ce",
                "c4cc64ac.e74598"
            ],
            []
        ]
    },
    {
        "id": "e174a4af.313fd8",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/masterdatalist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "116425d1.2ca75a"
            ]
        ]
    },
    {
        "id": "e5abed49.308ce",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2050,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e9af344.ff39bc",
        "type": "comment",
        "z": "cd1a2ef7.fabb6",
        "name": "Periodically read twin.json and perform actions if needed",
        "info": "",
        "x": 1730,
        "y": 1560,
        "wires": []
    },
    {
        "id": "17e61c19.8d53e4",
        "type": "exec",
        "z": "cd1a2ef7.fabb6",
        "command": "dir /b c:\\Talos\\out",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1570,
        "y": 420,
        "wires": [
            [
                "35755505.66b9da"
            ],
            [
                "35755505.66b9da"
            ],
            []
        ]
    },
    {
        "id": "5ae5b48d.e3898c",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/outbox",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "17e61c19.8d53e4"
            ]
        ]
    },
    {
        "id": "35755505.66b9da",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1980,
        "y": 400,
        "wires": []
    },
    {
        "id": "86bee187.e1f66",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2330,
        "y": 620,
        "wires": []
    },
    {
        "id": "c4cc64ac.e74598",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1960,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e133ac1.a16006",
        "type": "inject",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1380,
        "y": 220,
        "wires": [
            [
                "116425d1.2ca75a"
            ]
        ]
    },
    {
        "id": "b04b0cc7.bfb1e",
        "type": "exec",
        "z": "cd1a2ef7.fabb6",
        "command": "start c:\\Talos\\node-red\\restartservice.bat",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1640,
        "y": 1440,
        "wires": [
            [
                "8fb72aaf.bd73b8",
                "98c81bb3.18cb88"
            ],
            [
                "8fb72aaf.bd73b8"
            ],
            []
        ]
    },
    {
        "id": "e1a449a9.0891c8",
        "type": "inject",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1360,
        "y": 1460,
        "wires": [
            [
                "b04b0cc7.bfb1e"
            ]
        ]
    },
    {
        "id": "8fb72aaf.bd73b8",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1980,
        "y": 1440,
        "wires": []
    },
    {
        "id": "7a737517.66951c",
        "type": "http in",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "url": "/restart",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1400,
        "y": 1380,
        "wires": [
            [
                "b04b0cc7.bfb1e"
            ]
        ]
    },
    {
        "id": "98c81bb3.18cb88",
        "type": "http response",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1940,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6817caf9.331f84",
        "type": "inject",
        "z": "cd1a2ef7.fabb6",
        "name": "retrieve twin - every 15 mins",
        "topic": "twin.json",
        "payload": "",
        "payloadType": "date",
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1360,
        "y": 1800,
        "wires": [
            [
                "2adf0404.f13e9c"
            ]
        ]
    },
    {
        "id": "2adf0404.f13e9c",
        "type": "subflow:d6c1f8bc.468a28",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "x": 1620,
        "y": 1800,
        "wires": [
            [
                "4257bf99.38f99"
            ]
        ]
    },
    {
        "id": "4257bf99.38f99",
        "type": "json",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1850,
        "y": 1680,
        "wires": [
            [
                "13f062dc.5fe7fd",
                "f4037fcc.f282e"
            ]
        ]
    },
    {
        "id": "13f062dc.5fe7fd",
        "type": "debug",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2090,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f4037fcc.f282e",
        "type": "switch",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "property": "payload.command",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "restart",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update-nodered",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update-wwwroot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1670,
        "y": 1940,
        "wires": [
            [
                "2e77bf23.18b03"
            ],
            [],
            []
        ]
    },
    {
        "id": "2e121eca.2efb52",
        "type": "subflow:19a920c.7ca29df",
        "z": "cd1a2ef7.fabb6",
        "name": "Write twin",
        "env": [],
        "x": 2540,
        "y": 2260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ae3acb2c.cb8868",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "func": "msg.content=msg.payload;\nmsg.topic=\"twinlog.txt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2770,
        "y": 1960,
        "wires": [
            [
                "1e43be3b.837232"
            ]
        ]
    },
    {
        "id": "1e43be3b.837232",
        "type": "subflow:19a920c.7ca29df",
        "z": "cd1a2ef7.fabb6",
        "name": "Write log",
        "env": [],
        "x": 2540,
        "y": 2140,
        "wires": [
            [
                "de132c5f.30d5e"
            ],
            []
        ]
    },
    {
        "id": "de132c5f.30d5e",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "",
        "func": "msg.content=JSON.stringify({completed: new Date().toISOString()});\nmsg.topic=\"twin.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2530,
        "y": 2200,
        "wires": [
            [
                "2e121eca.2efb52"
            ]
        ]
    },
    {
        "id": "4ef693b3.71c60c",
        "type": "http request",
        "z": "cd1a2ef7.fabb6",
        "name": "Restart",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:1880/restart",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 2260,
        "y": 1900,
        "wires": [
            [
                "ae3acb2c.cb8868"
            ]
        ]
    },
    {
        "id": "2e77bf23.18b03",
        "type": "function",
        "z": "cd1a2ef7.fabb6",
        "name": "restart",
        "func": "msg.content=JSON.stringify({message: \"restarting\",timestamp: new Date().toISOString()});\nmsg.topic=\"twin.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1890,
        "y": 1900,
        "wires": [
            [
                "a883a768.b481a8"
            ]
        ]
    },
    {
        "id": "a883a768.b481a8",
        "type": "subflow:19a920c.7ca29df",
        "z": "cd1a2ef7.fabb6",
        "name": "Write twin",
        "env": [],
        "x": 2060,
        "y": 1900,
        "wires": [
            [
                "4ef693b3.71c60c"
            ],
            []
        ]
    },
    {
        "id": "4ce8a559.c939cc",
        "type": "influxdb in",
        "z": "30569479.6ef08c",
        "influxdb": "e46dac0a.ff646",
        "name": "Create sysmon",
        "query": "CREATE DATABASE \"sysmon\" WITH DURATION 14d REPLICATION 1 SHARD DURATION 1h NAME \"twoweeks\"",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "222fccf9.52f9b4",
                "7eb31180.46025"
            ]
        ]
    },
    {
        "id": "12fdd26f.5765fe",
        "type": "inject",
        "z": "30569479.6ef08c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "4ce8a559.c939cc"
            ]
        ]
    },
    {
        "id": "222fccf9.52f9b4",
        "type": "debug",
        "z": "30569479.6ef08c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "7eb31180.46025",
        "type": "http response",
        "z": "30569479.6ef08c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "64c1a7bf.06e728",
        "type": "catch",
        "z": "30569479.6ef08c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "4ce8a559.c939cc"
            ]
        ]
    },
    {
        "id": "d9a0f0b7.cc578",
        "type": "inject",
        "z": "30569479.6ef08c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "d0b59357.48c53"
            ]
        ]
    },
    {
        "id": "d0b59357.48c53",
        "type": "cpu",
        "z": "30569479.6ef08c",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "992ab639.9ca9c8"
            ]
        ]
    },
    {
        "id": "992ab639.9ca9c8",
        "type": "influxdb out",
        "z": "30569479.6ef08c",
        "influxdb": "e726ada1.e0dfe",
        "name": "",
        "measurement": "cpu",
        "precision": "",
        "retentionPolicy": "",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "4732a590.f3d4ac",
        "type": "inject",
        "z": "30569479.6ef08c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "f195b541.23bef8"
            ]
        ]
    },
    {
        "id": "47f1772.7a3f388",
        "type": "influxdb out",
        "z": "30569479.6ef08c",
        "influxdb": "e726ada1.e0dfe",
        "name": "",
        "measurement": "mem",
        "precision": "",
        "retentionPolicy": "",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "f195b541.23bef8",
        "type": "Memory",
        "z": "30569479.6ef08c",
        "name": "",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "959d0ec4.ed0bf"
            ]
        ]
    },
    {
        "id": "d925b9aa.3ab0c8",
        "type": "debug",
        "z": "30569479.6ef08c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "959d0ec4.ed0bf",
        "type": "function",
        "z": "30569479.6ef08c",
        "name": "",
        "func": "msg.payload.memusage=parseFloat(msg.payload.memusage);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "d925b9aa.3ab0c8",
                "47f1772.7a3f388"
            ]
        ]
    }
]